#about-page
  .author-box
    .author-img
      img.no-lightbox(src='/images/avatar.jpg')
    .image-dot
  .author-content
    .author-content-item.myInfoAndSayHello
      .title1 ä½ å¥½ï¼Œå¾ˆé«˜å…´è®¤è¯†ä½ ðŸ‘‹
      .title3
        | æ¬¢è¿Žæ¥åˆ°R1ck's PortalðŸŒŒ
      .title2
        | æˆ‘æ˜¯
        span.inline-word R1ck
      .title1
        | æ˜¯ä¸€å å­¦ç”Ÿã€CTFerã€ç¡¬ä»¶é»‘å®¢ã€
        span.inline-word äººå·¥æ™ºèƒ½å¼€å‘çˆ±å¥½è€…
    .aboutsiteTips.author-content-item
      .author-content-item-tips è¿½æ±‚
      h2
        | æºäºŽ
        br
        | çƒ­çˆ±è€ŒåŽ»
        span.inline-word æ„Ÿå—
        .mask
          span.first-tips å­¦ä¹ 
          |
          span ç”Ÿæ´»
          |
          span(data-up) ç¨‹åº
          |
          span(data-show) ä½“éªŒ

  .hello-about
    .cursor(style='translate:none;rotate:none;scale:none;transform:translate(721px,180px)')
    .shapes
      .shape.shape-1(style='translate:none;rotate:none;scale:none;transform:translate(721px,180px)')
      .shape.shape-2(style='translate:none;rotate:none;scale:none;transform:translate(721px,180px)')
      .shape.shape-3(style='translate:none;rotate:none;scale:none;transform:translate(721px,180px)')
    .content
      h1 Hack The World

  .author-content
    .author-content-item.skills
      .card-content
        .author-content-item-tips æŠ€èƒ½
        span.author-content-item-title æŠ€å¤šä¸åŽ‹èº«
        .skills-style-group
          .tags-group-all
            .tags-group-wrapper
              each i in site.data.creativity
                - const evenNum = i.creativity_list.filter((x, index) => index % 2 === 0);
                - const oddNum = i.creativity_list.filter((x, index) => index % 2 === 1);
                each item, index in i.creativity_list
                  if ((index+1 <= evenNum.length) && (index+1 <= oddNum.length))
                    .tags-group-icon-pair
                      .tags-group-icon(style=`background: ${evenNum[index].color}`)
                        img.no-lightbox(title=evenNum[index].name, src=evenNum[index].icon)
                      .tags-group-icon(style=`background: ${oddNum[index].color}`)
                        img.no-lightbox(title=oddNum[index].name, src=oddNum[index].icon)
          .skills-list
            each i in site.data.creativity
              each item, index in i.creativity_list
                .skill-info
                  .skill-icon(style=`background: ${item.color}`)
                    img.no-lightbox(title=item.name, src=item.icon)
                  .skill-name
                    span=item.name
            .etc ...
    .author-content-item-group.column.myself
      .author-content-item.personalities
        .author-content-item-tips æ€§æ ¼
        span.author-content-item-title å»ºç­‘å¸ˆ
        .title2(style='color:#ac899c') INTJ-T
        .post-tips
            | åœ¨ 
            a(href='https://www.16personalities.com/', target='_blank', rel='noopener nofollow') 16Personalities 
            | äº†è§£å…³äºŽ 
            a(target='_blank', rel='noopener external nofollow', href='https://www.16personalities.com/ch/intj-%E4%BA%BA%E6%A0%BC') å»ºç­‘å¸ˆ 
            | çš„æ›´å¤šä¿¡æ¯
        .image
            img.no-lightbox(src='/about/intj.svg')
      .author-content-item.buff
        .card-content
          .author-content-item-tips ç‰¹é•¿
          span.buff-title
            span(style='opacity:.6;margin-bottom:8px')
              | å¯¹ä¸€åˆ‡äº‹ç‰©
              span.inline-word ä¿æŒå¥½å¥‡å¿ƒ
            |
            span
              | å­¦ä¹ èƒ½åŠ›
              span.inline-word MAX
        .card-background-icon
          i.fa-solid.fa-dice-d20

  .author-content
    .create-site-post.author-content-item.single
      .author-content-item-tips 
      h1 whoami
      h2(align="center") Mãƒ»E
      p(align="center")
        | é‡Žç”Ÿ  
        strong INTJ-T 
        | ä¸€åª | æ€»æ˜¯åšåˆ°  
        strong ä¼—å›äº²ç¦»ðŸ˜­  
        br
        strong æ–‡æ˜Ž6    
        | 300å°æ—¶çŽ©å®¶ | ç¥žä½œæ°¸è¿œæ˜¯ 
        strong å·«å¸ˆä¸‰  
        br
        | å°è¯•
        strong å¼€å‘æ¸¸æˆ    
        | |  
        strong Unity 
        | å¥½éš¾
        br
        | å¸¸ç”¨
        strong Python    
        | | æ²‰è¿·äºŽ
        strong å¯†ç å­¦  
        br
        | æ–°æ¬¢æ˜¯
        strong Go    
        | | ä¸‹ä¸€ç«™ 
        strong Webæ¸—é€  
        br
        strong BiliBili 
        | é‡åº¦ä½¿ç”¨æ‚£è€… | å–œæ¬¢å®žè·µå„ç§ 
        strong Readme 
        br
        strong CTF 
        | çˆ±å¥½è€… | ä¸“æ”» 
        strong Crypto
        br
        | æƒ³å½“
        strong æœ«æ—¥ç”Ÿå­˜ç‹‚ 
        | | æ­£åœ¨æˆä¸º 
        strong ç¡¬ä»¶é»‘å®¢ 
        br
        | å­¦ä¹  
        strong DeepLearning 
        | ä¸­ |  
        strong Computer Vision
        | é¢†åŸŸå°ç™½ 
      h1 å…³äºŽæœ¬ç«™
      
      strong
        emp
          | å¤‡æ¡ˆï¼š
          strong(style="color:red") ç²¤ICPå¤‡2023083766å·
          br
          a(target="_blank" href="https://hexo.io/zh-cn/") Hexo 
          | å¼ºåŠ›é©±åŠ¨ | Theme by 
          a(target="_blank" href="https://butterfly.js.org/posts/21cfbf15/") Butterfly
          br
          a(target="_blank" href="https://github.com") Github
          | æä¾›æºç æ‰˜ç®¡æœåŠ¡
          br
          a(target="_blank" href="https://cloud.tencent.com/") è…¾è®¯äº‘
          | æä¾›CDNæœåŠ¡
          br
          | å¦‚éœ€è”ç³»åšä¸»è¯·é€šè¿‡é‚®ç®± 
          strong(style="color:green") liuky63@mail2.sysu.edu.cn 
          | æˆ–è€…åœ¨è¯„è®ºåŒºç•™è¨€
          br
          | æŸ¥çœ‹createåšå®¢
          strong(style="color:purple") R1ck's Portal
          | çš„åŽŸå›  ï¼ˆå¾…æ–½å·¥âš ï¼‰
         

  .author-content
    .author-content-item.single.reward
      .author-content-item-tips è‡´è°¢
      span.author-content-item-title èµžèµåå•   
      .author-content-item-description å› ä¸ºæœ‰ä½ ï¼Œè®©æˆ‘æ›´æœ‰åˆ›ä½œåŠ¨åŠ›
        each i in site.data.reward
          - let rawData = [...i.reward_list]
          .reward-list-all
            - let reward_list_amount = i.reward_list.sort((a,b)=>b.amount -  a.amount)
            each item, index in reward_list_amount
              .reward-list-item
                .reward-list-item-name=item.name
                .reward-list-bottom-group
                  if item.amount >= 50
                    .reward-list-item-money(style='background:#f25d8e')=`Â¥${item.amount}`
                  else
                    .reward-list-item-money=`Â¥${item.amount + (item.suffix ? item.suffix : "")}`
                  .datatime.reward-list-item-time(datatime=item.datatime)=new Date(item.datatime).toISOString().slice(0, -14)
          .reward-list-updateDate
            | æ›´æ–°æ—¶é—´ï¼š
            time.datatime.reward-list-updateDate-time(datatime=rawData[0].datatime)=new Date(rawData[0].datatime).toISOString().slice(0, -14)
      .post-reward
        #con
        #TA-con(type='button', onclick='reward()')
          #text-con
            #linght
            #TA ä¸ºTAå……ç”µ
        #tube-con
          svg(viewBox='0 0 1028 385', fill='none', xmlns='http://www.w3.org/2000/svg')
            path(d='M1 77H234.226L307.006 24H790', stroke='#e5e9ef', stroke-width='20')
            path(d='M0 140H233.035L329.72 71H1028', stroke='#e5e9ef', stroke-width='20')
            path(d='M1 255H234.226L307.006 307H790', stroke='#e5e9ef', stroke-width='20')
            path(d='M0 305H233.035L329.72 375H1028', stroke='#e5e9ef', stroke-width='20')
            rect(y='186', width='236', height='24', fill='#e5e9ef')
            ellipse(cx='790', cy='25.5', rx='25', ry='25.5', fill='#e5e9ef')
            circle(r='14', transform='matrix(1 0 0 -1 790 25)', fill='white')
            ellipse(cx='790', cy='307.5', rx='25', ry='25.5', fill='#e5e9ef')
            circle(r='14', transform='matrix(1 0 0 -1 790 308)', fill='white')
          #mask
            svg(viewBox='0 0 1028 385', fill='none', xmlns='http://www.w3.org/2000/svg')
              path(d='M1 77H234.226L307.006 24H790', stroke='#f25d8e', stroke-width='20')
              path(d='M0 140H233.035L329.72 71H1028', stroke='#f25d8e', stroke-width='20')
              path(d='M1 255H234.226L307.006 307H790', stroke='#f25d8e', stroke-width='20')
              path(d='M0 305H233.035L329.72 375H1028', stroke='#f25d8e', stroke-width='20')
              rect(y='186', width='236', height='24', fill='#f25d8e')
              ellipse(cx='790', cy='25.5', rx='25', ry='25.5', fill='#f25d8e')
              circle(r='14', transform='matrix(1 0 0 -1 790 25)', fill='white')
              ellipse(cx='790', cy='307.5', rx='25', ry='25.5', fill='#f25d8e')
              circle(r='14', transform='matrix(1 0 0 -1 790 308)', fill='white')
          #orange-mask
            svg(viewBox='0 0 1028 385', fill='none', xmlns='http://www.w3.org/2000/svg')
              path(d='M1 77H234.226L307.006 24H790', stroke='#ffd52b', stroke-width='20')
              path(d='M0 140H233.035L329.72 71H1028', stroke='#ffd52b', stroke-width='20')
              path(d='M1 255H234.226L307.006 307H790', stroke='#ffd52b', stroke-width='20')
              path(d='M0 305H233.035L329.72 375H1028', stroke='#ffd52b', stroke-width='20')
              rect(y='186', width='236', height='24', fill='#ffd52b')
              ellipse(cx='790', cy='25.5', rx='25', ry='25.5', fill='#ffd52b')
              circle(r='14', transform='matrix(1 0 0 -1 790 25)', fill='white')
              ellipse(cx='790', cy='307.5', rx='25', ry='25.5', fill='#ffd52b')
              circle(r='14', transform='matrix(1 0 0 -1 790 308)', fill='white')
          p#people
            | å…±
            b 1
            | äºº

script(src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/gsap/3.9.1/gsap.min.js")
script.
  (() => {
    function isInViewPortOfOne(el) {
      if (!el) return;
      const viewPortHeight = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
      const offsetTop = el.offsetTop;
      const scrollTop = document.documentElement.scrollTop;
      const top = offsetTop - scrollTop;
      return top <= viewPortHeight;
    }
    

    var pursuitInterval = null;
      pursuitInterval = setInterval(function () {
        const show = document.querySelector('span[data-show]')
        const next = show.nextElementSibling || document.querySelector('.first-tips')
        const up = document.querySelector('span[data-up]')

        if (up) {
          up.removeAttribute('data-up')
        }

        show.removeAttribute('data-show')
        show.setAttribute('data-up', '')

        next.setAttribute('data-show', '')
      }, 2000)

      document.addEventListener('pjax:send', function(){
        clearInterval(pursuitInterval);
      });

      var helloAboutEl = document.querySelector('.hello-about')
      helloAboutEl.addEventListener("mousemove", evt => {
        const mouseX = evt.offsetX;
        const mouseY = evt.offsetY;
        gsap.set(".cursor", {
          x: mouseX,
          y: mouseY,
        })

        gsap.to(".shape", {
          x: mouseX,
          y: mouseY,
          stagger: -0.1
        })
      })
  })()